<% var Title='API Access'; %>
<% include blocks/header.ejs %>
<body class="body-blue body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span class="icon icon_genius"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div id="showcase" class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section class="doc-section">
                            <% include blocks/search.ejs %>
        <p>Your <code>[API KEY]</code> can be found in <code>API</code> in the dashboard menu. Responses to HTTP Requests return as <code>JSON</code> strings. Group Key can be found in the <b>Settings</b> window.

<p><code>[API KEY]</code> <em>Can also be your logged in auth_token as well as the API Access key.</em></p>
                                <% pageData.forEach(function(v,n){ %>
<div class="section-block">
    <h3 class="block-title question"><a id="content-<%- link_id(v.description) %>" href="#content-<%- link_id(v.description) %>" class="text-faded"><i class="fa fa-paperclip"></i></a>  <%- v.description %></h3>
    <% v.blocks.forEach(function(b,m){ %>
        <p><a class="text-faded" id="content-<%-link_id(b.text)%>" href="#content-<%-link_id(b.text)%>"><i class="fa fa-paperclip"></i></a>   <%- b.text %></p>
        <% if(b.code){ %>
            <pre><code><%- b.code %></code></pre>
        <% } %>
        <% if(b.list){ %>
    <ul>
        <% b.list.forEach(function(c,x){ %>
            <li><%- c %></li>
        <%  }) %>
    </ul>
        <% } %>
    <%  }) %>
</div>
                                <%  }) %>
                            </section><!--//doc-section-->

                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <% pageData.forEach(function(v,n){ %>
                                    <li><a class="scrollto" href="#content-<%- link_id(v.description) %>"><%- v.description %></a></li>
                                <%  }) %>
                                <% include blocks/menu-options.ejs %>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

