<% 
try{pageData=JSON.parse(pageData);}catch(err){var pageData=''}
if(pageData){
    var Title='Connection URLs';
}else{
    var Title='IP Cameras';
}
%>
<% include blocks/header.ejs %>
<style>
    #cameraTable tr td:first-child{vertical-align:middle}
    .table .table{background:none}
</style>
<body class="body-green body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="fa fa-camera"></span> <%= Title %></h1>
                    <small>Cameras Compatible with FFMPEG</small>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="content-inner">
                        <section class="doc-section">
                            <% if(pageData){%>
                                <% include blocks/search.ejs %>

                                <% Object.keys(pageData).forEach(function(v,n){
                                    var callout_color='warning'
                                    if(v.indexOf('rtsp')>-1){
                                        callout_color='info'
                                    }
                                %>
                            <% Object.keys(pageData[v].types).forEach(function(b){
                                    var block_title=b;
                                    if(b.indexOf('FFMPEG')>-1){
                                        block_title='H.264'
                                    }
                                %>
                            <div class="section-block bs-callout bs-callout-<%-callout_color%>">
                                        <h4><%-block_title%> <small><%-v%></small></h4>
                                <div class="row">
                                    <div class="col-md-6"><table class="table"><% pageData[v].types[b].forEach(function(m){%><tr><td><%-m%></td></tr><%}) %></table></div>
                                    <div class="col-md-6">
                                        <%- pageData[v].models.join(', ') %>
                                    </div>
                                </div>
                                        
                                </div>
                                        <%}) %>
                                <% }) %>
                            <% } %>
                        </section><!--//content-inner-->
                    </div><!--//doc-content-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

