<% var Title='Settings'; %>
<% include blocks/header.ejs %>
<body class="body-pink body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-wrench"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="supported-cameras" class="doc-section">
                                <div class="section-block">
<h1 class="block-title"><a id="input-methods-input-type" class="anchor" href="#input-methods-input-type" aria-hidden="true"></a>Monitor Settings</h1>
<table class="table table-striped table-inverse">
  <tbody>
<tr>
<th>Field</th>
<th>Description</th>
<th>Default</th>
<th>Example</th>
</tr>
<% [
          {
              field:'Mode',
              description:'This is the primary task of the monitor.',
              default:'Disabled',
              example:'',
              possible:[
                  {name:'Disabled',info:'Inactive monitor, no process will be created in this mode.'},
                  {name:'Watch-Only',info:'Monitor will only stream, no recording will occur unless otherwise ordered by API or Detector.'},
                  {name:'Record',info:'Continuous Recording. Segments are made every 15 minutes by default.'},
              ],
          },
          {
              field:'Name',
              description:'This is the human-readable display name for the monitor.',
              default:'<i>No Default</i>',
              example:'Bunny',
              possible:'',
          },
          {
              field:'Retry Connection',
              description:'The number of times to retry for network connection between the server and camera before setting the monitor to Disabled. No decimals.',
              default:'10',
              example:'100000',
              possible:'',
          },
          {
              field:'Input Type',
              description:'The method that will used to consume the video stream.',
              default:'Base64',
              example:'',
              possible:[
                  {name:'JPEG',info:'Reading snapshots from a URL and making a stream and/or video from them.'},
                  {name:'MJPEG',info:'Similar to JPEG except the frame handling is done by FFMPEG, not Shinobi.'},
                  {name:'H.264',info:'Reading a high quality video streas that sometimes include audio.'},
                  {name:'Local',info:'Reading Capture Cards, Webcams, or Integrated Cameras.'},
                  {name:'Shinobi Streamer',info:'Continuous Recording. Segments are made every 15 minutes by default.'},
              ],
          },
      ].forEach(function(v,n){ 
          if(v.possible instanceof Array){
              v.possible_draw='';
              v.possible.forEach(function(b,m){
                  v.possible_draw+='<li class="possible"><b>'+b.name+' : </b>'+b.info+'</li>';
              })
          }else{
              v.possible_draw=v.possible;
          }
        %>
      <tr>
      <td><%-v.field%></td>
      <td><p><%-v.description%></p><ul><%-v.possible_draw%></ul></td>
      <td><%-v.default%></td>
      <td><%-v.example%></td>
      <td></td>
      </tr>
<% }) %>

</tbody></table>

                                </div><!--//section-block-->
                           </section>
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#input-methods-input-type">Monitor Settings</a></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

